{% extends "layout.html" %}

{% block page_title %}
  Create shares
{% endblock %}

{% block content %}

<main id="content" role="main">
	{% include "includes/phase_banner_alpha.html" %}
	<div class="grid-row">
		<div class="column-two-thirds">
			<form action="statement-of-capital" id="" method="get" name="">
        <a href="proposed-company-officers" class="link-back">Back</a>

				<h1 class="form-title heading-xlarge">Create shares</h1>

        <p class="lede">
        Company shares have a monetary value and ownership rights associated with them. They can also be made available in a wide range of currencies.</p>


        <div class="form-group">
          <h2 class="heading-medium">What currency will these shares be available in?</h2>
          <legend class="visuallyhidden">What currency will these shares be available in?</legend>
          <label class="block-label" for="share-class-currency-pound" data-target="shares-currencies-pound-value">
            <input id="share-class-currency-pound" type="radio" name="radio-inline-group" value="British Pound">
            British pounds
          </label>
          <label class="block-label" for="share-class-currency-other" data-target="shares-currencies">
            <input id="share-class-currency-other" type="radio" name="radio-inline-group" value="other currencies">
            Other
          </label>
          <div class="panel panel-border-narrow js-hidden" id="shares-currencies">
            <select name="" id="" class="form-control">
              <option value="">US Dollars</option>
              <option value="">Euros</option>
              <option value="">Japanese Yen</option>
              <option value="">Australian Dollars</option>
              <option value="">Canadian Dollars</option>
              <option value="">Russian Rubles</option>
              <option value="">South African Rand</option>
            </select>
          </div>
        </div>

        <div class="form-group">
          <h3 class="heading-medium">What type of shares would you like to create?</h3>
          <legend class="visuallyhidden">What type of shares would you like to create?</legend>
          <label class="block-label" for="share-class-ordinary">
            <input id="share-class-ordinary" type="radio" name="shareClass" value="Ordinary">
            Ordinary
          </label>
          <label class="block-label" for="share-class-other" data-target="shares-other">
            <input id="share-class-other" type="radio" name="shareClass" value="Other">
            Other
          </label>
          <div class="panel panel-border-narrow js-hidden" id="shares-other">

            <label class="block-label" for="share-class-ordinary-a">
              <input id="share-class-ordinary-a" type="radio" name="shareClassOther" value="Ordinary A">
              Ordinary A
            </label>
            <label class="block-label" for="share-class-ordinary-b">
              <input id="share-class-ordinary-b" type="radio" name="shareClassOther" value="Ordinary B">
              Ordinary B
            </label>
            <label class="block-label" for="share-class-ordinary-c">
              <input id="share-class-ordinary-c" type="radio" name="shareClassOther" value="Ordinary C">
              Ordinary C
            </label>
            <label class="block-label" for="share-class-deferred">
              <input id="share-class-deferred" type="radio" name="shareClassOther" value="Deferred">
              Deferred
            </label>
            <label class="block-label" for="share-class-preference">
              <input id="share-class-preference" type="radio" name="shareClassOther" value="Preference">
              Preference
            </label>
            <label class="block-label" for="share-class-custom" data-target="share-class-custom-reveal">
              <input id="share-class-custom" type="radio" name="shareClassOther" value="Custom">
              Provide your own class of share
            </label>

            <div class="panel panel-border-narrow js-hidden" id="share-class-custom-reveal">
              <label class="form-label-bold" for="share-class-custom-reveal-form">Enter your class of share</label>
              <input class="form-control" id="share-class-custom-reveal-form" name="share-class-custom-reveal-form-group" type="text">
            </div>



          </div>
        </div>

        <div class="form-group">
          <details>
            <summary><span class="summary">What are the different types of share?</span></summary>
            <div class="panel panel-border-narrow">
              <p>
                Most companies start with ordinary shares. Other share types can be used to give holders of those shares a specific set of rights.
              </p>
            </div>
          </details>
        </div>

				<div class="form-group">
						<h3 class="heading-medium">How many shares would you like to allocate?</h3>
            <input id="share-class-total" class="form-control" name="shareClassTotal" type="text" value="">
				</div>

				<div class="form-group">
					<h3 class="heading-medium">What is the total value of the shares?</h3>
          <input class="form-control" id="share-class-total-value" name="shareClassTotalValue" type="text" value="">
				</div>

        <div class="form-group">
          <details>
            <summary><span class="summary">How is this calculated?</span></summary>
            <div class="panel panel-border-narrow">
              <p>The total value of the shares is calculated by multiplying the number of shares by the nominal value (face value) of each share.</p>
              <p> New companies can set the face value of each share at the time of incorporation. Most start with small share values. For example, between £1 and £10 per share.
</p>
            </div>
          </details>
        </div>

        <div class="form-group">
          <h3 class="heading-medium">What rights would you like the shares to have?</h3>
          <p>Most shares will have full rights. Custom rights can be provided for specific purposes.</p>
          <legend class="visuallyhidden">What rights would you like the shares to have?</legend>
          <label class="block-label" for="radio-inline-1">
            <input id="radio-inline-1" type="radio" name="radio-inline-group" value="Full rights">
            Full rights including voting, dividends and distributions
          </label>
          <label class="block-label" for="radio-inline-2" data-target="shares-rights">
            <input id="radio-inline-2" type="radio" name="radio-inline-group" value="Custom">
            Custom rights
          </label>
          <div class="panel panel-border-narrow js-hidden" id="shares-rights">
            <label class="form-label" for="full-name-f1">Custom shareholder rights</label>
            <textarea name="shareClassRights" id="" rows="5" style="width: 100%;"></textarea>
          </div>
        </div>
        <div class="form-group">
          <details>
            <summary><span class="summary">What rights can a share provide?</span></summary>
            <div class="panel panel-border-narrow">
              <p>
                Most shares usually provide rights such as who can vote on company decisions and who is first to receive dividends. Custom share types may also give the holder additional benefits beyond company ownership.
              </p>
            </div>
          </details>
        </div>

				<div class="form-group">
					<input class="button" name="Incorporation.incorporationNavigation.sectionContent.addStatementOfCapital.submit" type="submit" value="Next">
				</div>


			</form>
		</div>
	</div>
</main>
{% endblock %}
