{% extends "layout.html" %}

{% block page_title %}
  Web Incorporation Service prototype
{% endblock %}

{% block content %}



  <main id="content" role="main">
  	{% include "includes/phase_banner_alpha.html" %}
  	<div class="grid-row">
  		<div class="column-two-thirds">
  			<form action="add-person-as-psc-ca" id="" method="get" name="">
          <a href="psc-2" class="link-back">Back</a>

  				<h1 class="form-title heading-xlarge">
  					Details of new person with significant control
  				</h1>

  					<fieldset>

              <div class="form-group">
                <legend></legend> <label class="form-label-bold" for="Incorporation.incorporationNavigation.sectionContent.AP01.NaturalDirectorAppointment.NaturalDirector.Title" id="AP01.NaturalDirectorAppointment.NaturalDirector.Title_label">Title (optional)</label> <input class="form-control" id="Incorporation.incorporationNavigation.sectionContent.AP01.NaturalDirectorAppointment.NaturalDirector.Title" maxlength="50" name="Incorporation.incorporationNavigation.sectionContent.AP01.NaturalDirectorAppointment.NaturalDirector.Title" type="text" value=""> <span></span>
              </div>
              <!--end form-group-->

  						<div class="form-group">
  							<legend></legend> <label class="form-label-bold" for="Incorporation.incorporationNavigation.sectionContent.PSCForm.Notification.PSC.Forename" id="PSCForm.Notification.PSC.Forename_label">Forename</label>
                <input class="form-control" id="Incorporation.incorporationNavigation.sectionContent.PSCForm.Notification.PSC.Forename" maxlength="50" name="Incorporation.incorporationNavigation.sectionContent.PSCForm.Notification.PSC.Forename" type="text" value="">
  						</div>
  						<!--end form-group-->

  						<div class="form-group">
  							<legend></legend> <label class="form-label-bold" for="Incorporation.incorporationNavigation.sectionContent.PSCForm.Notification.PSC.OtherForenames" id="PSCForm.Notification.PSC.OtherForenames_label">Other forename(s) (optional)</label>
                <input class="form-control" id="Incorporation.incorporationNavigation.sectionContent.PSCForm.Notification.PSC.OtherForenames" maxlength="50" name="Incorporation.incorporationNavigation.sectionContent.PSCForm.Notification.PSC.OtherForenames" type="text" value="">
  						</div>
  						<!--end form-group-->

  						<div class="form-group">
  							<legend></legend> <label class="form-label-bold" for="Incorporation.incorporationNavigation.sectionContent.PSCForm.Notification.PSC.Surname" id="PSCForm.Notification.PSC.Surname_label">Surname</label>
                <input class="form-control" id="Incorporation.incorporationNavigation.sectionContent.PSCForm.Notification.PSC.Surname" maxlength="50" name="Incorporation.incorporationNavigation.sectionContent.PSCForm.Notification.PSC.Surname" type="text" value="">
  						</div>
  						<!--end form-group-->

              <div class="form-group">
                <legend></legend>
                 <label class="form-label-bold" for="Incorporation.incorporationNavigation.sectionContent.PSCForm.Notification.PSC.CountryOfResidenceList" id="countryStateResidence_tooltip-src">Country of residence</label>
                 <select class="form-control" id="Incorporation.incorporationNavigation.sectionContent.PSCForm.Notification.PSC.CountryOfResidenceList" name="Incorporation.incorporationNavigation.sectionContent.PSCForm.Notification.PSC.CountryOfResidenceList" onclick="set_disable(this.value!='OTHER', ['Incorporation.incorporationNavigation.sectionContent.PSCForm.Notification.PSC.CountryOfResidence'])" onforminit="Y" onkeyup="set_disable(this.value!='OTHER', ['Incorporation.incorporationNavigation.sectionContent.PSCForm.Notification.PSC.CountryOfResidence'])">
                  <option value="">
                    Please select
                  </option>
                  <option value="GBR">
                    United Kingdom
                  </option>
                  <option value="GB-ENG">
                    England
                  </option>
                  <option value="GB-WLS">
                    Wales
                  </option>
                  <option value="GB-SCT">
                    Scotland
                  </option>
                  <option value="GB-NIR">
                    Northern Ireland
                  </option>
                  <option value="GBR">
                    UK
                  </option>
                  <option value="GB-GBN">
                    Great Britain
                  </option>
                  <option value="">
                    -----------------
                  </option>
                  <option value="USA">
                    USA
                  </option>
                  <option value="IRL">
                    Ireland
                  </option>
                  <option value="DEU">
                    Germany
                  </option>
                  <option value="FRA">
                    France
                  </option>
                  <option value="ITA">
                    Italy
                  </option>
                  <option value="ESP">
                    Spain
                  </option>
                  <option value="PRT">
                    Portugal
                  </option>
                  <option value="NLD">
                    Netherlands
                  </option>
                  <option value="POL">
                    Poland
                  </option>
                  <option value="BEL">
                    Belgium
                  </option>
                  <option value="NOR">
                    Norway
                  </option>
                  <option value="SWE">
                    Sweden
                  </option>
                  <option value="DNK">
                    Denmark
                  </option>
                  <option value="AUS">
                    Australia
                  </option>
                  <option value="NZL">
                    New Zealand
                  </option>
                  <option value="CAN">
                    Canada
                  </option>
                  <option value="ZAF">
                    South Africa
                  </option>
                  <option value="AUT">
                    Austria
                  </option>
                  <option value="HRV">
                    Croatia
                  </option>
                  <option value="CYP">
                    Cyprus
                  </option>
                  <option value="CZE">
                    Czech Republic
                  </option>
                  <option value="EST">
                    Estonia
                  </option>
                  <option value="GRC">
                    Greece
                  </option>
                  <option value="HUN">
                    Hungary
                  </option>
                  <option value="LTU">
                    Lithuania
                  </option>
                  <option value="OTHER">
                    Other - enter below
                  </option>
                </select>
              </div>
              <!--end form-group-->


              <!-- Other countries should only be shown when selected from the drop-down list above, so hiding it here=-->
              <!--<div class="form-group">
            <fieldset >
            <legend></legend>

            <label class="form-label-bold" id="PSCForm.Notification.PSC.CountryOfResidence_label" for="Incorporation.incorporationNavigation.sectionContent.PSCForm.Notification.PSC.CountryOfResidence" >Other Country/State </label>
            <input type="text" id="Incorporation.incorporationNavigation.sectionContent.PSCForm.Notification.PSC.CountryOfResidence" name="Incorporation.incorporationNavigation.sectionContent.PSCForm.Notification.PSC.CountryOfResidence" class="form-control" value="" maxlength="50">

            </fieldset>
            </div>-->
              <!--end form-group-->

              <div class="form-group">
                <legend></legend> <label class="form-label-bold" for="Incorporation.incorporationNavigation.sectionContent.PSCForm.Notification.PSC.Nationality" id="PSCForm.Notification.PSC.Nationality_label">Nationality</label>
                <input class="form-control" id="Incorporation.incorporationNavigation.sectionContent.PSCForm.Notification.PSC.Nationality" maxlength="50" name="Incorporation.incorporationNavigation.sectionContent.PSCForm.Notification.PSC.Nationality" type="text" value="">
              </div>
              <!--end form-group-->

  						<div class="form-group">
  							<legend></legend>
                <label class="form-label-bold" for="Incorporation.incorporationNavigation.sectionContent.PSCForm.Notification.PSC.DOB" id="PSCForm.Notification.PSC.DOB_label">Date of Birth</label>
                <span id="dob-hint" class="form-hint">For example, 31 3 1980</span>
  							<div class="form-date">
  								<div class="form-group form-group-day">
  									<label class="form-label" for="dob-day">Day</label> <input aria-describedby="dob-hint" class="form-control" id="dob-day" max="31" min="0" name="dob-day" pattern="[0-9]*" type="number">
  								</div>

  								<div class="form-group form-group-month">
  									<label class="form-label" for="dob-month">Month</label> <input class="form-control" id="dob-month" max="12" min="0" name="dob-month" pattern="[0-9]*" type="number">
  								</div>

  								<div class="form-group form-group-year">
  									<label class="form-label" for="dob-year">Year</label> <input class="form-control" id="dob-year" max="2016" min="0" name="dob-year" pattern="[0-9]*" type="number">
  								</div>
  							</div>
  						</div>
  						<!--end form-group-->

              <div class="form-group">
                <legend></legend> <label class="form-label-bold" for="Incorporation.incorporationNavigation.sectionContent.AP01.NaturalDirectorAppointment.NaturalDirector.Occupation" id="AP01.NaturalDirectorAppointment.NaturalDirector.Occupation_label">Business occupation  (optional)</label> <input class="form-control" id="Incorporation.incorporationNavigation.sectionContent.AP01.NaturalDirectorAppointment.NaturalDirector.Occupation" maxlength="50" name="Incorporation.incorporationNavigation.sectionContent.AP01.NaturalDirectorAppointment.NaturalDirector.Occupation" type="text" value=""> <span></span>
              </div>
              <!--end form-group-->
            </fieldset>


              <fieldset>
                <h2 class="heading-large" id="StatementOfConsentToActHeading_heading">
                  Consent to act
                </h2>

                <div class="panel panel-border-wide">
                  <p>
                    A statement of consent to act is required in the place of a signature.
                  </p>
                </div>

                <div class="form-group">
                  <!--<fieldset id="AP01.NaturalDirectorAppointment.StatementOfConsentToAct.statement_fieldset">-->
                  <legend></legend> <label class="block-label" for="Incorporation.incorporationNavigation.sectionContent.AP01.NaturalDirectorAppointment.StatementOfConsentToAct.statement_Y" id="AP01.NaturalDirectorAppointment.StatementOfConsentToAct.statement_Y_label">The subscribers confirm that this person knows that their details are being supplied as part of this incorporation <input class="checkbox" id="Incorporation.incorporationNavigation.sectionContent.AP01.NaturalDirectorAppointment.StatementOfConsentToAct.statement_Y" name="Incorporation.incorporationNavigation.sectionContent.AP01.NaturalDirectorAppointment.StatementOfConsentToAct.statement" onclick="" onforminit="" type="checkbox" value="Y"></label>
                </div>
                <!--end form-group-->
                <!--</fieldset>-->
              </fieldset>








  				<div class="form-group">
  					<input class="button" name="Incorporation.incorporationNavigation.sectionContent.PSCForm.submit" type="submit" value="Next">
  				</div><!--form-group-->
  			</form>
  		</div>
  		<!--end column-two-thirds-->
  	</div>
  	<!--end row-->
  </main>
  {% endblock %}
