{% extends "layout.html" %}

{% block page_title %}
  Have all the shares been paid for?
{% endblock %}

{% block content %}

<main id="content" role="main">
	{% include "includes/phase_banner_alpha.html" %}

	<div class="grid-row">
		<div class="column-two-thirds">
			<form action="subscriber-details" id="HPP" method="get" name="HPP">
        <a href="statement-of-capital" class="link-back">Back</a>

				<h1 class="form-title heading-xlarge">Have all the shares been paid for?</h1>


				<div class="form-group inline">
          <h2 class="heading-large">British pounds</h2>
					<table>
						<caption class="visuallyhidden">Amount unpaid</caption>
						<tbody>
							<tr>
								<td>Total shares issued</td>
								<td class="numeric">100</td>
							</tr>
							<tr>
								<td>Total value</td>
								<td class="numeric">&pound;100</td>
							</tr>
						</tbody>
					</table>
          <h3 class="heading-medium">Is there an outstanding amount owed for these shares?</h3>
          <legend class="visuallyhidden">Is there an outstanding amount owed for these shares?</legend>
          <label class="block-label" for="amount-outstanding-gbp-yes"  data-target="amount-outstanding-panel-gbp">
            <input id="amount-outstanding-gbp-yes" type="radio" name="amountOutstandingCheckGBP" value="Yes">
            Yes
          </label>
          <label class="block-label" for="amount-outstanding-gbp-no">
            <input id="amount-outstanding-gbp-no" type="radio" name="amountOutstandingCheckGBP" value="No">
            No
          </label>
          <div class="panel panel-border-narrow js-hidden" id="amount-outstanding-panel-gbp">
            <label for="amount-outstanding-gbp" class="form-label-bold">Outstanding amount owed</label>
            &pound; <input id="amount-outstanding-gbp" type="text" name="amountOutstandingGBP" class="form-control">
          </div>
        </div>

				<div class="form-group">
					<input class="button" name="Incorporation.incorporationNavigation.next" textid="Incorporation.incorporationNavigation.W0013674" type="submit" value="Next">
				</div>

			</form>
		</div>
	</div>
</main>
{% endblock %}
