{% extends "layout.html" %}

{% block page_title %}
  Web Incorporation Service prototype
{% endblock %}

{% block content %}

<!--
What I changed!
# Heading is now a H1 with classes of .form-title .heading-large
# Removed ALL old div content out, so the only divs on the page are the grid row and column ones from the GDS stuff (saying that, I also added GDS .form-control divs, see next note)
# Brand new styles can be seen in public/stylesheets/ch-webincs-gds-prototype.css
# De-capitalised content, eg BACK becomes Back
# Added secondary class of .button-secondary to some of the inputs
# Wrapped some elements in a div with a GDS class of .form-group - this gives the large bottom margin space
# Gave form labels a class of .form-label-bold (turns them bold)
# Gave some form inputs/selects a class of .form-control - sorts width and adds solid black border
# Removed inline styles, eg widths of forms inputs of 200px
# Removed required asterisk markers - meaning we may need to add (optional) to the optional inputs, as per GDS guidelines


-->

<main id="content" role="main">
{% include "includes/phase_banner_alpha.html" %}
	<div class="grid-row">
		<div class="column-two-thirds">
			<form action="sic-none-added" method="GET" name="HPP">



			<h1 id="Proposednamehead_heading" class="heading-xlarge">Company name</h1>
			<div class="panel panel-border-wide">
		  	<p>The service will automatically check if the proposed name contains sensitive words and if it is considered to be the 'same as' any existing names on the Register. There is no guarantee that the name will be accepted.</p>
			</div>
			<fieldset id="nameAndAddressForm.companyName.proposedName_fieldset">
				<div class="form-group">
					<legend></legend>
					<label class="form-label-bold" id="nameAndAddressForm.companyName.proposedName_label" for="Incorporation.incorporationNavigation.sectionContent.nameAndAddressForm.companyName.proposedName">Enter proposed company name </label>
	<span class="form-hint">The name cannot contain more than 160 characters (including spaces and name ending), and some symbols are not permitted. All new name letters are converted to capitals.</span>
				<input type="text" id="Incorporation.incorporationNavigation.sectionContent.nameAndAddressForm.companyName.proposedName" class="form-control form-control-long" name="Incorporation.incorporationNavigation.sectionContent.nameAndAddressForm.companyName.proposedName" value="" maxlength="160">
				</div><!-- end form-group-->

				<div class="form-group">
					<legend></legend>
					<label class="form-label-bold" for="Incorporation.incorporationNavigation.sectionContent.nameAndAddressForm.companyName.proposedNameEnding" id="proposedNameEnding_tooltip-src">Select a name ending</label>
					<span class="form-hint">The name ending is automatically defaulted to LIMITED, however you can also choose LTD or LTD. if required. Welsh name endings are available for companies located in Wales.</span>
					<select class="form-control" name="Incorporation.incorporationNavigation.sectionContent.nameAndAddressForm.companyName.proposedNameEnding" id="Incorporation.incorporationNavigation.sectionContent.nameAndAddressForm.companyName.proposedNameEnding" onforminit="" onclick="" onkeyup="">
						<option value="1" selected="">LIMITED</option>
						<option value="2">LTD</option>
						<option value="3">LTD.</option>
						<option value="65">CYFYNGEDIG</option>
						<option value="66">CYF</option>
						<option value="67">CYF.</option>
					</select>
				</div><!-- end form-group-->
			</fieldset>

		

			<h2 class="heading-xlarge" id="Jurisdictionhead_heading">Location of Registered Office </h2>

			<fieldset>
			<p class="form-label-bold">Please select:  </p>
			<div class="form-group">

			<legend></legend>

				<label class="block-label" id="nameAndAddressForm.addJurisdiction.Jurisdiction_EW_label" for="Incorporation.incorporationNavigation.sectionContent.nameAndAddressForm.addJurisdiction.Jurisdiction_EW">England and Wales
				<input type="radio" name="Incorporation.incorporationNavigation.sectionContent.nameAndAddressForm.addJurisdiction.Jurisdiction" id="Incorporation.incorporationNavigation.sectionContent.nameAndAddressForm.addJurisdiction.Jurisdiction_EW" onforminit="Y" onclick="set_hide(!get_value(&#39;Incorporation.incorporationNavigation.sectionContent.nameAndAddressForm.addJurisdiction.Jurisdiction_WA&#39;), [&#39;Incorporation.incorporationNavigation.sectionContent.nameAndAddressForm.bilingualForm&#39;,&#39;bilingualForm_info&#39;])" value="EW" class="checkbox" checked=""></label>

				<label class="block-label" id="nameAndAddressForm.addJurisdiction.Jurisdiction_NI_label" for="Incorporation.incorporationNavigation.sectionContent.nameAndAddressForm.addJurisdiction.Jurisdiction_NI">Northern Ireland
				<input type="radio" name="Incorporation.incorporationNavigation.sectionContent.nameAndAddressForm.addJurisdiction.Jurisdiction" id="Incorporation.incorporationNavigation.sectionContent.nameAndAddressForm.addJurisdiction.Jurisdiction_NI" onforminit="Y" onclick="set_hide(!get_value(&#39;Incorporation.incorporationNavigation.sectionContent.nameAndAddressForm.addJurisdiction.Jurisdiction_WA&#39;), [&#39;Incorporation.incorporationNavigation.sectionContent.nameAndAddressForm.bilingualForm&#39;,&#39;bilingualForm_info&#39;])" value="NI" class="checkbox"></label>

				<label class="block-label" id="nameAndAddressForm.addJurisdiction.Jurisdiction_SC_label" for="Incorporation.incorporationNavigation.sectionContent.nameAndAddressForm.addJurisdiction.Jurisdiction_SC">Scotland
				<input type="radio" name="Incorporation.incorporationNavigation.sectionContent.nameAndAddressForm.addJurisdiction.Jurisdiction" id="Incorporation.incorporationNavigation.sectionContent.nameAndAddressForm.addJurisdiction.Jurisdiction_SC" onforminit="Y" onclick="set_hide(!get_value(&#39;Incorporation.incorporationNavigation.sectionContent.nameAndAddressForm.addJurisdiction.Jurisdiction_WA&#39;), [&#39;Incorporation.incorporationNavigation.sectionContent.nameAndAddressForm.bilingualForm&#39;,&#39;bilingualForm_info&#39;])" value="SC" class="checkbox"></label>
				<!--
				<label data-target="location-wales" class="block-label" id="nameAndAddressForm.addJurisdiction.Jurisdiction_WA_label" for="Incorporation.incorporationNavigation.sectionContent.nameAndAddressForm.addJurisdiction.Jurisdiction_WA">Wales
				<input type="radio" name="Incorporation.incorporationNavigation.sectionContent.nameAndAddressForm.addJurisdiction.Jurisdiction" id="Incorporation.incorporationNavigation.sectionContent.nameAndAddressForm.addJurisdiction.Jurisdiction_WA" onforminit="Y" onclick="set_hide(!get_value(&#39;Incorporation.incorporationNavigation.sectionContent.nameAndAddressForm.addJurisdiction.Jurisdiction_WA&#39;), [&#39;Incorporation.incorporationNavigation.sectionContent.nameAndAddressForm.bilingualForm&#39;,&#39;bilingualForm_info&#39;])" value="WA" class="checkbox"></label>

				The onform or onclick functionality here is breaking the GDS conditional reveal code, so have reproduced a lite version of this radio below
				-->


				<label class="block-label" data-target="location-wales" for="Incorporation.incorporationNavigation.sectionContent.nameAndAddressForm.addJurisdiction.Jurisdiction">
					<input id="Incorporation.incorporationNavigation.sectionContent.nameAndAddressForm.addJurisdiction.Jurisdiction" type="radio" name="radio-contact-group" value="">Wales
				</label>

						<div class="panel panel-border-narrow js-hidden" id="location-wales">

							<div class="form-group">
								<label class="form-label-bold" id="nameAndAddressForm.bilingualForm_label" for="Incorporation.incorporationNavigation.sectionContent.nameAndAddressForm.bilingualForm">How would you like to register the information?</label>
								<select class="form-control" name="Incorporation.incorporationNavigation.sectionContent.nameAndAddressForm.bilingualForm" id="Incorporation.incorporationNavigation.sectionContent.nameAndAddressForm.bilingualForm" onforminit="" onclick="" onkeyup="">
									<option value="en">IN01 - English</option>
									<option value="cy">IN01c - Bilingual</option>
								</select>
							</div><!-- end form-group-->

							<div id="bilingualForm_info">
										<h3 class="heading-small">IN01</h3>
										<ul class="list list-bullet">
                      <li>By selecting this option you will be registering the information in English.</li>
                      <li>You will have an English memorandum.</li>
                      <li>You will be adopting English model articles for a private company limited by shares.</li>
                      <li>You will receive an English certificate of incorporation.</li>
                    </ul>
										<h3 class="heading-small">IN01c</h3>
										<ul class="list list-bullet">
                      <li>By selecting this option you will be registering the information bilingually.</li>
                      <li>You will have an English memorandum and there will be a certified Welsh translation placed on the public record.</li>
                      <li>You will be adopting English model articles for a private company limited by shares.</li>
                      <li>You will receive both an English and Welsh certificate of incorporation.</li>
                    </ul>
							</div>

						</div><!-- end js-hidden-->
		</div><!-- end form-group-->
	</fieldset>






			<h2 class="heading-xlarge" id="Addresshead_heading">Registered office address</h2>


			<fieldset>

			<div class="form-group">
				<legend></legend>
				<label class="form-label-bold" id="nameAndAddressForm.newAddress.Premise_label" for="Incorporation.incorporationNavigation.sectionContent.nameAndAddressForm.newAddress.Premise">Building Name/No. </label>
				<input class="form-control" type="text" id="Incorporation.incorporationNavigation.sectionContent.nameAndAddressForm.newAddress.Premise" name="Incorporation.incorporationNavigation.sectionContent.nameAndAddressForm.newAddress.Premise"  value="1" maxlength="50" >
				<span></span>
			</div><!-- end form-group-->

			<div class="form-group">
				<legend></legend>
				<label class="form-label-bold" id="nameAndAddressForm.newAddress.Postcode_label" for="Incorporation.incorporationNavigation.sectionContent.nameAndAddressForm.newAddress.Postcode">Postcode </label>
				<input class="form-control form-control-short" type="text" id="Incorporation.incorporationNavigation.sectionContent.nameAndAddressForm.newAddress.Postcode" name="Incorporation.incorporationNavigation.sectionContent.nameAndAddressForm.newAddress.Postcode" value="" maxlength="12" >
				<!-- AS:WA000032 --><input type="submit" name="Incorporation.incorporationNavigation.sectionContent.nameAndAddressForm.newAddress.PostcodeLookup" value="Lookup" class="button button-secondary" alt="Expand postcode"><!-- AE:WA000032 -->
				<span></span>
			</div><!-- end form-group-->

			<div class="form-group">
				<legend></legend>
				<label class="form-label-bold" id="nameAndAddressForm.newAddress.Street_label" for="Incorporation.incorporationNavigation.sectionContent.nameAndAddressForm.newAddress.Street">Address Line 1 </label>
				<input class="form-control" type="text" id="Incorporation.incorporationNavigation.sectionContent.nameAndAddressForm.newAddress.Street" name="Incorporation.incorporationNavigation.sectionContent.nameAndAddressForm.newAddress.Street"  value="111" maxlength="50" >
				<span></span>
			</div><!-- end form-group-->

			<div class="form-group">
				<legend></legend>
				<label class="form-label-bold" id="nameAndAddressForm.newAddress.Thoroughfare_label" for="Incorporation.incorporationNavigation.sectionContent.nameAndAddressForm.newAddress.Thoroughfare">Address Line 2 </label>
				<input class="form-control" type="text" id="Incorporation.incorporationNavigation.sectionContent.nameAndAddressForm.newAddress.Thoroughfare" name="Incorporation.incorporationNavigation.sectionContent.nameAndAddressForm.newAddress.Thoroughfare"  value="11" maxlength="50" >
				<span></span>
			</div><!-- end form-group-->


			<div class="form-group">
				<legend></legend>
				<label class="form-label-bold" id="nameAndAddressForm.newAddress.PostTown_label" for="Incorporation.incorporationNavigation.sectionContent.nameAndAddressForm.newAddress.PostTown">Post Town </label>
				<input class="form-control" type="text" id="Incorporation.incorporationNavigation.sectionContent.nameAndAddressForm.newAddress.PostTown" name="Incorporation.incorporationNavigation.sectionContent.nameAndAddressForm.newAddress.PostTown"  value="111" maxlength="50" >
				<span></span>
			</div><!-- end form-group-->

			<div class="form-group">
				<legend></legend>
				<label class="form-label-bold" id="nameAndAddressForm.newAddress.County_label" for="Incorporation.incorporationNavigation.sectionContent.nameAndAddressForm.newAddress.County">County/Region </label>
				<input class="form-control" type="text" id="Incorporation.incorporationNavigation.sectionContent.nameAndAddressForm.newAddress.County" name="Incorporation.incorporationNavigation.sectionContent.nameAndAddressForm.newAddress.County"  value="" maxlength="50" >
				<span></span>
			</div><!-- end form-group-->

			<div class="form-group">
				<legend></legend>
				<label class="form-label-bold" id="nameAndAddressForm.newAddress.CountryList_label" for="Incorporation.incorporationNavigation.sectionContent.nameAndAddressForm.newAddress.CountryList">Country </label>
				<select class="form-control" name="Incorporation.incorporationNavigation.sectionContent.nameAndAddressForm.newAddress.CountryList" id="Incorporation.incorporationNavigation.sectionContent.nameAndAddressForm.newAddress.CountryList" onforminit="" onclick="" onkeyup="">
					<option value="">Please select</option>
					<option value="GBR" selected="">United Kingdom</option>
					<option value="GB-ENG">England</option>
					<option value="GB-WLS">Wales</option>
					<option value="GB-SCT">Scotland</option>
					<option value="GB-NIR">Northern Ireland</option>
					<option value="GBR" selected="">UK</option>
					<option value="GB-GBN">Great Britain</option>
					<option value="NOTSPECIFIED">Not specified</option>
				</select>
				<span></span>
			</div><!-- end form-group-->

			<div class="form-group">
				<legend></legend>
				<label class="form-label-bold" id="nameAndAddressForm.newAddress.CareOfName_label" for="Incorporation.incorporationNavigation.sectionContent.nameAndAddressForm.newAddress.CareOfName">c/o (if part of address)</label>
				<span class="form-hint">Typically this c/o information consists of a person's name or the name of a company, partnership or firm whose property is being used as the service address for the company officer(s).</span>
				<input class="form-control" type="text" id="Incorporation.incorporationNavigation.sectionContent.nameAndAddressForm.newAddress.CareOfName" name="Incorporation.incorporationNavigation.sectionContent.nameAndAddressForm.newAddress.CareOfName"  value="" maxlength="100" >
				<span></span>
			</div><!-- end form-group-->

			<div class="form-group">
				<legend></legend>
				<label class="form-label-bold" id="nameAndAddressForm.newAddress.PoBox_label" for="Incorporation.incorporationNavigation.sectionContent.nameAndAddressForm.newAddress.PoBox">PO Box No (if part of address) </label>
				<input class="form-control" type="text" id="Incorporation.incorporationNavigation.sectionContent.nameAndAddressForm.newAddress.PoBox" name="Incorporation.incorporationNavigation.sectionContent.nameAndAddressForm.newAddress.PoBox"  value="" maxlength="10" >
			<span></span>
			</div><!-- end form-group-->

			</fieldset>



			<input type="hidden" name="" value="">
			<!--<script type="text/javascript" src="./name_files/jsOnly.js"></script>-->
			<!-- FILE_END::innerform.frag -->
			<input type="submit" name="Incorporation.incorporationNavigation.next" class="button" textid="Incorporation.incorporationNavigation.W0013674" value="Next">
			<input type="hidden" name="__VIEWSTATE" value="" data-postback="0">

</form>

		</div><!--end column-two-thirds-->





	</div><!--end row-->
</main>

{% endblock %}
