{% extends "layout.html" %}

{% block page_title %}
  Web Incorporation Service prototype
{% endblock %}

{% block content %}

<main id="content" role="main">
	{% include "includes/phase_banner_alpha.html" %}


			<form action="psc-1" id="" method="get" name="">
        <a href="subscriber-security" class="link-back">Back</a>

        <div class="text">
				<h1 class="form-title heading-xlarge">Statement of initial shareholdings</h1>
        <h2 class="heading-large">John Smith</h2>
        </div>
        
        <table class="check-your-answers form-group">
					<caption class="visuallyhidden">Initial Shareholdings for John Smith</caption><!-- needed for accessibility-->
					<thead>
						<tr>
							<th>Type</th>
							<th>Currency</th>
              <th class="numeric">Number of shares</th>
              <th class="numeric">Value of each share</th>
              <th></th>
              <th></th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Ordinary</td>
							<td>British Pounds</td>
              <td class="numeric">100</td>
              <td class="numeric">&pound;1</td>
              <td class="change-answer">
                <a href="" class="link">Change</a>
              </td>
              <td class="change-answer">
                <a href="" class="link">Remove</a>
              </td>
						</tr>
          </tbody>
				</table>

				<div class="form-group">
          <br>
					<p>
					  <a href="" class="link">Add another shareholder</a>
					</p>
				</div>
				<input class="button" name="Incorporation.incorporationNavigation.next" type="submit" value="Next">
			</form>

</main>
{% endblock %}
