{% extends "layout.html" %}

{% block page_title %}
  Web Incorporation Service prototype
{% endblock %}

{% block content %}



  <main id="content" role="main">
  	{% include "includes/phase_banner_alpha.html" %}

  			<form action="registers" id="" method="get" name="">
          <a href="add-person-as-psc-nature-of-control" class="link-back">Back</a>


        <div class="text">
        <h1 class="form-title heading-xlarge">Person(s) with significant control</h1>
        </div>

          <h2 class="heading-medium">Joe Bloggs</h2>
          <table class="check-your-answers form-group">
          <caption class="visuallyhidden">Details of new person with significant control</caption>
              <!--<thead>
                <tr>
                  <th colspan="2">Details of new person with significant control</th>
                  <th></th>
                </tr>
              </thead>-->
              <tbody>
                <tr>
                  <td>Forename</td>
                  <td>Joe</td>
                  <td class="change-answer"><a href="#">Change <span class="visuallyhidden">Forename</span></a></td>
                </tr>
                <tr>
                  <td>Surname</td>
                  <td>Bloggs</td>
                  <td class="change-answer"><a href="#">Change <span class="visuallyhidden">Surname</span></a></td>
                </tr>
                <tr>
                  <td>Date of birth</td>
                  <td>1 July 1980</td>
                  <td class="change-answer"><a href="#">Change <span class="visuallyhidden">Date of birth</span></a></td>
                </tr>
                <tr>
                  <td>Nationality</td>
                  <td>British</td>
                  <td class="change-answer"><a href="#">Change <span class="visuallyhidden">Nationality</span></a></td>
                </tr>
                <tr>
                  <td>Country/State of residence</td>
                  <td>United Kingdom</td>
                  <td class="change-answer"><a href="#">Change <span class="visuallyhidden">Country/State of residence</span></a></td>
                </tr>
                <tr>
                  <td>Service address of the person with significant control<br><span class="heading-small">This address will show on the public record.</span></td>
                  <td>The service address is 'same as' the company's registered office</td>
                  <td class="change-answer"><a href="#">Change <span class="visuallyhidden">Service address of the person with significant control</span></a></td>
                </tr>
                <tr>
                  <td>Residential address of the person with significant control<br><span class="heading-small">This address will NOT be shown on the public record.</span></td>
                  <td>1 Any Street<br>
                      Anyville<br>
                      Anytown<br>
                      AB123CD<br>
                      London<br>
                      United Kingdom</td>
                  <td class="change-answer"><a href="#">Change <span class="visuallyhidden">Residential address of the person with significant control</span></a></td>
                </tr>
                <tr>
                  <td>Nature of control</td>
                  <td>
                    <ul class="list list-bullet">
                      <li>The person holds, directly or indirectly, more than 25% but not more than 50% of the shares in the company.</li>
                      <li>The person holds, directly or indirectly, more than 25% but not more than 50% of the voting rights in the company.</li>
                      <li>The person holds the right, directly or indirectly, to appoint or remove a majority of the board of directors of the company.</li>
                    </ul>
                  </td>
                  <td class="change-answer"><a href="#">Change <span class="visuallyhidden">Nature of control</span></a></td>
                </tr>
              </tbody>
            </table>


            <h2 class="heading-medium">A Test Limited Liability Partnership</h2>
            <table class="check-your-answers form-group">
            <caption class="visuallyhidden">Details of new person with significant control</caption>
                <!--<thead>
                  <tr>
                    <th colspan="2">Details of new person with significant control</th>
                    <th></th>
                  </tr>
                </thead>-->
                <tbody>
                  <tr>
                    <td>Name of entity</td>
                    <td>A Test Limited Liability Partnership</td>
                    <td class="change-answer"><a href="#">Change <span class="visuallyhidden">Name of entity</span></a></td>
                  </tr>
                  <tr>
                    <td>Country</td>
                    <td>UK</td>
                    <td class="change-answer"><a href="#">Change <span class="visuallyhidden">Country</span></a></td>
                  </tr>
                  <tr>
                    <td>Postcode </td>
                    <td>CF14 3UZ</td>
                    <td class="change-answer"><a href="#">Change <span class="visuallyhidden">Postcode</span></a></td>
                  </tr>
                  <tr>
                    <td>Building name/number</td>
                    <td>24</td>
                    <td class="change-answer"><a href="#">Change <span class="visuallyhidden">Building name/number</span></a></td>
                  </tr>
                  <tr>
                    <td>Address</td>
                    <td>Crown Way, Maindy</td>
                    <td class="change-answer"><a href="#">Change <span class="visuallyhidden">Address</span></a></td>
                  </tr>
                  <tr>
                    <td>Post Town</td>
                    <td>Cardiff</td>
                    <td class="change-answer"><a href="#">Change <span class="visuallyhidden">Post Town</span></a></td>
                  </tr>
                  <tr>
                    <td>Legal form of the entity </td>
                    <td>Limited Partnership</td>
                    <td class="change-answer"><a href="#">Change <span class="visuallyhidden">Legal form of the entity</span></a></td>
                  </tr>
                  <tr>
                    <td>Law which governs the entity</td>
                    <td>Limited Liability Partnerships Act 2000</td>
                    <td class="change-answer"><a href="#">Change <span class="visuallyhidden">Law which governs the entity</span></a></td>
                  </tr>
                  <tr>
                    <td>Nature of control</td>
                    <td>
                      <ul class="list list-bullet">
                        <li>The entity holds, directly or indirectly, more than 50% but less than 75% of the shares in the company.</li>
                        <li>The entity has the right to exercise, or actually exercises, significant influence or control over the activities of a trust; and the trustees of that trust (in their capacity as such) hold, directly or indirectly, more than 25% but not more than 50% of the shares in the company.</li>
                        <li>The entity holds, directly or indirectly, 75% or more of the voting rights in the company.</li>
                        <li>The entity has the right to exercise, or actually exercises, significant influence or control over the activities of a trust; and the trustees of that trust (in their capacity as such) hold, directly or indirectly, 75% or more of the voting rights in the company.</li>
                        <li>The entity has the right to exercise, or actually exercises, significant influence or control over the activities of a trust; and the trustees of that trust (in their capacity as such) hold the right, directly or indirectly, to appoint or remove a majority of the board of directors of the company.</li>
                        <li>The entity has the right to exercise, or actually exercises, significant influence or control over the company.</li></ul>
                    </td>
                    <td class="change-answer"><a href="#">Change <span class="visuallyhidden">Nature of control</span></a></td>
                  </tr>
                </tbody>
              </table>



            <details class="form-group">

            <summary><span class="summary">Add another person with significant control (PSC)?</span></summary>

            <div class="panel panel-border-narrow">

              <p>Select the type of PSC from one of the following:</p>

              <fieldset>

              <legend class="visuallyhidden">Select the type of PSC from one of the following:</legend>

                <div class="form-group">

                  <label class="block-label" for="psc-person">
                  <input id="psc-person" type="radio" name="psc-type" value="psc-person">
                  A person
                  </label>

                  <label class="block-label" for="psc-legal-entity">
                  <input id="psc-legal-entity" type="radio" name="psc-type" value="psc-legal-entity-yes">
                  A relevant legal entity
                  <span class="form-hint">Such as a corporate body (for example, a company or firm)</span>
                  </label>

                  <label class="block-label" data-target="contact-by-text" for="example-contact-by-text">
                  <input id="example-contact-by-text" type="radio" name="psc-type" value="No">
                  A legal person
                  <span class="form-hint">Such as a corporation sole, government department, international organisation or local authority (for example, the Archbishop of Canterbury or The City of Cardiff Council)</span>
                  </label>

                </div><!--form-group-->

              </fieldset>


            </div><!--end js-hidden-->

          </details>




  				<div class="form-group">
  					<input class="button" name="Incorporation.incorporationNavigation.sectionContent.PSCForm.submit" type="submit" value="Next">
  				</div><!--form-group-->
  			</form>

  </main>
  {% endblock %}
