{% extends "layout.html" %}

{% block page_title %}
  People with significant control
{% endblock %}

{% block content %}



  <main id="content" role="main">
  	{% include "includes/phase_banner_alpha.html" %}

  			<form action="registers" id="" method="get" name="">
          <a href="add-person-as-psc-nature-of-control" class="link-back">Back</a>


        <div class="text">
        <h1 class="form-title heading-xlarge">People with significant control</h1>
        </div>

          <h2 class="heading-medium">John Smith</h2>
          <table class="check-your-answers form-group">
          <caption class="visuallyhidden">Details of new person with significant control</caption>
              <!--<thead>
                <tr>
                  <th colspan="2">Details of new person with significant control</th>
                  <th></th>
                </tr>
              </thead>-->
              <tbody>
                <tr>
                  <td>Name</td>
                  <td>John Smith</td>
                  <td class="change-answer"><a href="#">Change <span class="visuallyhidden">Name and address details</span></a></td>
                </tr>

                <tr>
                  <td>PSC's correspondence address</td>
                  <td>The correspondence address is 'same as' the company's registered office</td>
                  <td class="change-answer"><a href="#">Change <span class="visuallyhidden">PSC's correspondence address</span></a></td>
                </tr>
                <tr>
                  <td>PSC's residential address</td>
                  <td>1 Any Street<br>
                      Anyville<br>
                      Anytown<br>
                      AB123CD<br>
                      London<br>
                      United Kingdom</td>
                  <td class="change-answer"><a href="#">Change <span class="visuallyhidden">PSC's residential address</span></a></td>
                </tr>
                <tr>
                  <td>Nature of control</td>
                  <td>
                    <ul class="list list-bullet">
                      <li>The person holds, directly or indirectly, more than 25% but not more than 50% of the shares in the company.</li>
                      <li>The person holds, directly or indirectly, more than 25% but not more than 50% of the voting rights in the company.</li>
                      <li>The person holds the right, directly or indirectly, to appoint or remove a majority of the board of directors of the company.</li>
                    </ul>
                  </td>
                  <td class="change-answer"><a href="#">Change <span class="visuallyhidden">Nature of control</span></a></td>
                </tr>
              </tbody>
            </table>






            <details class="form-group">

            <summary><span class="summary">Add another person with significant control (PSC)?</span></summary>

            <div class="panel panel-border-narrow">

              <p>Select the type of PSC from one of the following:</p>

              <fieldset>

              <legend class="visuallyhidden">Select the type of PSC from one of the following:</legend>

                <div class="form-group">

                  <label class="block-label" for="psc-person">
                  <input id="psc-person" type="radio" name="psc-type" value="psc-person">
                  A person
                  </label>

                  <label class="block-label" for="psc-legal-entity">
                  <input id="psc-legal-entity" type="radio" name="psc-type" value="psc-legal-entity-yes">
                  A relevant legal entity
                  <span class="form-hint">Such as a corporate body (for example, a company or firm)</span>
                  </label>

                  <label class="block-label" data-target="contact-by-text" for="example-contact-by-text">
                  <input id="example-contact-by-text" type="radio" name="psc-type" value="No">
                  A legal person
                  <span class="form-hint">Such as a corporation sole, government department, international organisation or local authority (for example, the Archbishop of Canterbury or The City of Cardiff Council)</span>
                  </label>

                </div><!--form-group-->

              </fieldset>


            </div><!--end js-hidden-->

          </details>




  				<div class="form-group">
  					<input class="button" name="Incorporation.incorporationNavigation.sectionContent.PSCForm.submit" type="submit" value="Next">
  				</div><!--form-group-->
  			</form>

  </main>
  {% endblock %}
