{% extends "layout.html" %}

{% block page_title %}
  Where will the company keep its register of directors?
{% endblock %}

{% block content %}

<main id="content" role="main">
	{% include "includes/phase_banner_alpha.html" %}
	<div class="grid-row">
		<div class="column-two-thirds">
			<form action="registers" id="" method="get" name="">
        <a href="registers" class="link-back">Back</a>

				<h2 class="form-title heading-xlarge" id="registerHeader_heading">Where will the company keep its register of directors?</h2>

				<fieldset>


					<div class="form-group">
						<legend class="visuallyhidden">Where will the company keep its register of directors?</legend>
              <label class="block-label" for="at-office" id="">At the company's registered office address
              <input class="checkbox" id="at-office" name="location-choose" type="radio" value="N"></label>
              <label class="block-label" data-target="public-record" for="at-companies-house" id="">On the public record at Companies House
              <input class="checkbox" id="at-companies-house" name="location-choose" type="radio" value="Y"></label>
					</div>
					<!--end form-group-->
				</fieldset>


        <div class="panel panel-border-narrow js-hidden" id="public-record">
          <div class="notice form-group">
          <i class="icon icon-important" style="top:1em;"> <!-- temporary CSS, not for production-->
            <span class="visuallyhidden">Warning</span>
          </i>
          <strong class="bold-small">Information such as a director’s date of birth will be available to the public if you choose to keep your registers on the public record.</strong>
          </div>

          <div class="form-group">
            <fieldset id="registersControl.declaration_fieldset">
              <legend></legend>
                <label class="block-label" for="Incorporation.incorporationNavigation.sectionContent.registersControl.declaration_Y" id="registersControl.declaration_Y_label">I confirm the company will keep its register of directors updated on the public record at Companies House
                <input class="checkbox" id="Incorporation.incorporationNavigation.sectionContent.registersControl.declaration_Y" name="Incorporation.incorporationNavigation.sectionContent.registersControl.declaration" onclick="" onforminit="" type="checkbox" value="Y"></label>
            </fieldset>
          </div>
          <!--end form-group-->

        </div><!--public-record-->




				<div class="form-group">
					<input class="button" name="Incorporation.incorporationNavigation.sectionContent.registersControl.submit" type="submit" value="Next">
				</div>
				<!--end form-group-->

			</form>
		</div>
		<!--end column-two-thirds-->
	</div>
	<!--end row-->
</main>
{% endblock %}
