{% extends "layout.html" %}

{% block page_title %}
  Web Incorporation Service prototype
{% endblock %}

{% block content %}

<main id="content" role="main">
	{% include "includes/phase_banner_alpha.html" %}

	<div class="grid-row">
		<div class="column-two-thirds">
			<form action="amount-unpaid" id="HPP" method="get" name="HPP">
				<h1 class="form-title heading-xlarge">Statement of Capital</h1>

        <h2 class="heading-large">British Pounds</h2>

        <div class="form-group">
          <table>
  					<caption class="visuallyhidden">British Pounds</caption>
  					<thead>
  						<tr>
  							<th scope="col">Share Class</th>
                <th scope="col" class="numeric">Total Shares</th>
                <th scope="col" class="numeric">Total Value</th>
                <th scope="col" colspan="2"><span class="visuallyhidden">Actions</span></th>
  						</tr>
  					</thead>
  					<tbody>
  						<tr>
  							<td>Ordinary</td>
                <td class="numeric">100</td>
  							<td class="numeric">&pound;100</td>
  							<td>
  							  <a href="" class="link">Edit</a>
  							</td>
  							<td>
  							  <a href="" class="link">Remove</a>
  							</td>
  						</tr>
              <tr>
  							<td>Preference</td>
                <td class="numeric">10</td>
  							<td class="numeric">&pound;10</td>
  							<td>
  							  <a href="" class="link">Edit</a>
  							</td>
  							<td>
  							  <a href="" class="link">Remove</a>
  							</td>
  						</tr>
  					</tbody>
  				</table>
        </div>

        <div class="form-group">
          <a href="" class="link">Add another share class <span class="visuallyhidden">in British pounds</span></a>
        </div>

        <h2 class="heading-large">US Dollars</h2>

        <div class="form-group">
          <table>
  					<caption class="visuallyhidden">US Dollars</caption>
  					<thead>
  						<tr>
  							<th scope="col">Share Class</th>
                <th scope="col" class="numeric">Total Shares</th>
                <th scope="col" class="numeric">Total Value</th>
                <th scope="col" colspan="2"><span class="visuallyhidden">Actions</span></th>
  						</tr>
  					</thead>
  					<tbody>
  						<tr>
  							<td>Ordinary</td>
                <td class="numeric">100</td>
  							<td class="numeric">&dollar;200</td>
  							<td>
  							  <a href="" class="link">Edit</a>
  							</td>
  							<td>
  							  <a href="" class="link">Remove</a>
  							</td>
  						</tr>
              <tr>
  							<td>Preference</td>
                <td class="numeric">10</td>
  							<td class="numeric">&dollar;20</td>
  							<td>
  							  <a href="" class="link">Edit</a>
  							</td>
  							<td>
  							  <a href="" class="link">Remove</a>
  							</td>
  						</tr>
  					</tbody>
  				</table>
        </div>

        <div class="form-group">
          <a href="" class="link">Add another share class <span class="visuallyhidden">in US dollars</span></a>
        </div>

        <h2 class="heading-large">Summary of Shares</h2>

        <div class="form-group">
          <table>
  					<caption class="visuallyhidden">Needs a caption!</caption>
            <thead>
              <tr>
                <th>Currency</th>
                <th class="numeric">Total number of shares</th>
                <th class="numeric">Total value of shares</th>
              </tr>
            </thead>
  					<tbody>
  						<tr>
  							<td>British Pounds</td>
  							<td class="numeric">110</td>
                <td class="numeric">&pound;110</td>
  						</tr>
  						<tr>
  							<td>US Dollars</td>
  							<td class="numeric">110</td>
                <td class="numeric">&dollar;220</td>
  						</tr>
  					</tbody>
  				</table>
        </div>

        <div class="form-group">
          <a href="" class="link">Add shares in another currency</a>
        </div>


				<div class="form-group">
					<input class="button" name="Incorporation.incorporationNavigation.next" textid="Incorporation.incorporationNavigation.W0013674" type="submit" value="Continue"> <input class="pseudo-link" name="Incorporation.incorporationNavigation.previous" textid="Incorporation.incorporationNavigation.W0013673" type="submit" value="Previous">
				</div>

			</form>
		</div>

	</div>

</main>
{% endblock %}
