{% extends "layout.html" %}

{% block page_title %}
  Web Incorporation Service prototype
{% endblock %}

{% block content %}

<main id="content" role="main">
	{% include "includes/phase_banner_alpha.html" %}
	<div class="grid-row">
		<div class="column-two-thirds">
			<form action="subscriber-shares" id="HPP" method="get" name="HPP">
        <a href="amount-unpaid" class="link-back">Back</a>

				<h1 class="form-title heading-xlarge">
					Who would you like your first shareholder to be?
				</h1>

        <div class="form-group">
          <label class="form-label" for="share-class-p">First name</label>
          <input class="form-control" id="share-class-p" type="text">
        </div>

        <div class="form-group">
          <label class="form-label" for="share-class-p">Surname</label>
          <input class="form-control" id="share-class-p" type="text">
        </div>

        <div class="form-group inline">
          <h3 class="heading-medium">Does this person represent a company?</h3>
          <label class="block-label" for="personCorporateYes" data-target="person-corporate">
            <input id="personCorporateYes" type="radio" name="chooseShareholder" value="Yes">
            Yes
          </label>
          <label class="block-label" for="personCorporateNo">
            <input id="personCorporateNo" type="radio" name="chooseShareholder" value="No">
            No
          </label>
          <div class="panel panel-border-narrow js-hidden" id="person-corporate">
            <label class="form-label" for="share-class-p">Company name</label>
            <input class="form-control" id="share-class-p" type="text">
          </div>
        </div>

        <div class="form-group">
          <details>
            <summary><span class="summary">Who can own shares in a company</span></summary>
            <div class="panel panel-border-narrow">
              <p>
                A company shareholder can be an individual or a another company. If the shareholder is a company, they must provide details for an individual who will represent that company.
              </p>
            </div>
          </details>
        </div>

        <div class="form-group">
          <h3 class="heading-medium">Address</h3>
          <p>This is the address that we will use if we need to contact the subscriber. This address will appear on the public register and can be either a business or residential address.</p>
        </div>

        <div class="form-group">
          <label class="form-label" for="">Building name/number</label>
          <input class="form-control" id="" type="text" value="">
        </div>

        <div class="form-group">
          <label class="form-label" for="">Postcode</label>
          <input class="form-control" id="" type="text" value="">
          <a href="" class="button button-secondary">Lookup</a>
        </div>

        <div class="form-group">
          <a href="" class="link manual-address">Enter address manually</a>
        </div>

        <div class="manual-address-group" style="display: none;">
          <div class="form-group">
            <label class="form-label" for="">Address line 1</label>
            <input class="form-control" id="" type="text" value="">
          </div>

          <div class="form-group">
            <label class="form-label" for="">Address line 2</label>
            <input class="form-control" id="" type="text" value="">
          </div>

          <div class="form-group">
            <label class="form-label" for="">Town</label>
            <input class="form-control" id="" type="text" value="">
          </div>

          <div class="form-group">
            <label class="form-label" for="">County</label>
            <input class="form-control" id="" type="text" value="">
          </div>

          <div class="form-group">
            <label class="form-label" for="subscriber-country">Country</label>
            <select name="subscriberCountry" id="subscriber-country" class="form-control">
              <option value="">United Kingdom</option>
              <option value="">England</option>
              <option value="">Wales</option>
              <option value="">Scotland</option>
              <option value="">Northern Ireland</option>
            </select>
          </div>

          <div class="form-group">
            <label class="form-label" for="">Other country</label>
            <input class="form-control" id="" type="text" value="">
          </div>
        </div>

        <div class="form-group">
          <input type="submit" value="Next" class="button" />
        </div>

			</form>
		</div>
	</div>
</main>
{% endblock %}
