{% extends "layout.html" %}

{% block page_title %}
  Web Incorporation Service prototype
{% endblock %}

{% block content %}

<main id="content" role="main">
	{% include "includes/phase_banner_alpha.html" %}
	<div class="grid-row">
		<div class="column-two-thirds">
			<form action="initial-shareholdings" id="HPP" method="get" name="subscriberSecurity">
        <a href="subscriber-shares" class="link-back">Back</a>

				<h1 class="form-title heading-xlarge">
					Subscriber authentication
				</h1>

        <p class="lede">
          We'll use the answers provided below to check the identity of the shareholder in future communication.
        </p>

        <p>
          <h2 class="heading-small">
            Please answer at least 3 of these questions
          </h2>
        </p>

        <div class="form-group">
          <label class="form-label" for="birth-town">First 3 letters of the town where the subscriber was born</label>
          <input class="form-control form-control-short" id="birth-town" type="text" name="birthTown">
        </div>
        <div class="form-group">
          <label class="form-label" for="tele-number">Last 3 digits of their telephone number</label>
          <input class="form-control form-control-short" id="tele-number" type="text" name="teleNumber">
        </div>
        <div class="form-group">
          <label class="form-label" for="ni-number">Last 3 characters of their National Insurance number</label>
          <input class="form-control form-control-short" id="ni-number" type="text" name="niNumber">
        </div>
        <div class="form-group">
          <label class="form-label" for="passport-number">Last 3 digits of their passport number</label>
          <input class="form-control form-control-short" id="passport-number" type="text" name="passportNumber">
        </div>
        <div class="form-group">
          <label class="form-label" for="maiden-name">First 3 letters of their mother's maiden name</label>
          <input class="form-control form-control-short" id="maiden-name" type="text" name="maidenName">
        </div>
        <div class="form-group">
          <label class="form-label" for="eye-colour">First 3 letters of their eye colour</label>
          <input class="form-control form-control-short" id="eye-colour" type="text" name="eyeColour">
        </div>
        <div class="form-group">
          <label class="form-label" for="fathers-name">First 3 letters of their father's first name</label>
          <input class="form-control form-control-short" id="fathers-name" type="text" name="fathersName">
        </div>

				<!--end form-group-->
				<input class="button" name="Incorporation.incorporationNavigation.sectionContent.subscriberFormControl.submit" type="submit" value="Next">
        <input name="" type="hidden" value="">
			</form>
		</div>
		<!--end column-two-thirds-->
	</div>
	<!--end row-->
</main>
{% endblock %}
