{% extends "layout.html" %}

{% block page_title %}
  Web Incorporation Service prototype
{% endblock %}

{% block content %}

<main id="content" role="main">
	{% include "includes/phase_banner_alpha.html" %}
	<div class="grid-row">
		<div class="column-two-thirds">
			<form action="subscriber-security" id="HPP" method="get" name="HPP">
        <a href="subscriber-details" class="link-back">Back</a>

				<h1 class="form-title heading-xlarge">
					Allocate shares
				</h1>

        <div class="form-group">
          <label class="form-label-bold" for="">Currency and type of share</label>
          <select name="subscriberShareClass" id="subscriber-share-class" class="form-control">
            <option value="">Ordinary - British Pounds</option>
          </select>
        </div>

        <div class="form-group">
          <h3 class="heading-medium" >How many shares would you like to allocate?</h3>
          <input class="form-control" id="" type="text" value="">
        </div>

        <div class="form-group">
          <label class="form-label-bold" for="">Amount paid on each share</label>
          <input class="form-control" id="" type="text" value="">
        </div>

        <div class="form-group">
          <label class="form-label-bold" for="">Amount unpaid on each share</label>
          <input class="form-control" id="" type="text" value="">
        </div>


				<input class="button" name="Incorporation.incorporationNavigation.sectionContent.subscriberFormControl.submit" type="submit" value="Next">
                <input name="" type="hidden" value="">
			</form>
		</div>
	</div>
</main>
{% endblock %}
