{% extends "layout.html" %}

{% block page_title %}
  Web Incorporation Service prototype
{% endblock %}

{% block content %}

<!--
What I changed!
# Made company name p tag a H2 with a class of .heading-medium and movd it under the H1 ("Payment")
# Main heading is now a H1 with classes of .form-title .heading-large
# Commented ALL old div content out, so the only divs on the page are the grid row and column ones from the GDS stuff (saying that, I also added GDS .form-control divs, see next note)
# Put help in a GDS column-third div, with class of .form-hint (and new styling to reduce font-size)
# Brand new styles can be seen in public/stylesheets/ch-webincs-gds-prototype.css
# De-capitalised content, eg BACK becomes Back
# Restructured opening text, adding in heading tags and heading classes
# Fixed radio buttons/checkboxes -  the input should be wrapped by the label like this  <label class="block-label"><input></label
# Gave form labels a class of .form-label-bold (turns them bold)
# Gave some form inputs/selects a class of .form-control - sorts width and adds solid black border
# Added div class="panel panel-border-wide" to line about the £fee which gives grey left border styling-->

<main id="content" role="main">{% include "includes/phase_banner_alpha.html" %}


      <form action="payment" id="" method="get" name="">
      <a href="statement-of-compliance-2" class="link-back">Back</a>

  		<div class="text">
        <h1 class="form-title heading-xlarge">Check your answers</h1>
			</div>

			<table class="check-your-answers form-group">

	    <thead>
	      <tr>
	        <th colspan="2">
	          <h2 class="heading-medium">
	            Content to be determined: this page would potentially show ALL of the previously entered information
	          </h2>
	        </th>
	        <th>
	        </th>
	      </tr>
	    </thead>
	    <tbody>
	      <tr>
	        <td>
	          Exporter
	        </td>
	        <td>
	          Exporter name<br>
	          First line of address<br>
	          Second line of address<br>
	          Contact: Contact Name<br>
	          Tel: 01234 567 890<br>
	          Email: email@email.com
	        </td>
	        <td class="change-answer">
	          <a href="#">
	            Change <span class="visuallyhidden">Exporter name</span>
	          </a>
	        </td>
	      </tr>
	      <tr>
	        <td>
	          Producer
	        </td>
	        <td>
	          Producer name
	        </td>
	        <td class="change-answer">
	          <a href="#">
	            Change <span class="visuallyhidden">Producer name</span>
	          </a>
	        </td>
	      </tr>
	      <tr>
	        <td>
	          Site of export
	        </td>
	        <td>
	          Site of export name
	        </td>
	        <td class="change-answer">
	          <a href="#">
	            Change <span class="visuallyhidden">Site of export name</span>
	          </a>
	        </td>
	      </tr>
	      <tr>
	        <td>
	          Importer
	        </td>
	        <td>
	          Importer name<br>
	          First line of address<br>
	          Second line of address<br>
	          Contact: Contact Name<br>
	          Tel: 01234 567 890<br>
	          Email: email@email.com
	        </td>
	        <td class="change-answer">
	          <a href="#">
	            Change <span class="visuallyhidden">Importer name</span>
	          </a>
	        </td>
	      </tr>
	      <tr>
	        <td>
	          Recovery facilities
	        </td>
	        <td>
	          Recovery facilities name
	        </td>
	        <td class="change-answer">
	          <a href="#">
	            Change <span class="visuallyhidden">Recovery facilities name</span>
	          </a>
	        </td>
	      </tr>
	      <tr>
	        <td>
	          Recovery site
	        </td>
	        <td>
	          Recovery site name
	        </td>
	        <td class="change-answer">
	          <a href="#">
	            Change <span class="visuallyhidden">Recovery site name</span>
	          </a>
	        </td>
	      </tr>
	    </tbody>
	  </table>

        <div class="form-group">
					<input class="button" name="Incorporation.incorporationNavigation.next" textid="Incorporation.incorporationNavigation.W0013674" type="submit" value="Next">
         </div>
        <!--end form-group-->
      </form>

</main>
{% endblock %}
