.pseudo-link {
  background: none;
  border: 0;
  color: #005ea5;
  display: block;
  font-size: .9em;
  padding: 1em 0 0;
  text-decoration: underline;
}

.pseudo-link.inline-pseudo-link {
  display: inline;
  padding: 1em 1em 0 0;
}

.pseudo-link:hover,
.pseudo-link:focus {
  cursor: pointer;
  text-decoration: none;
}

.button.button-secondary {
  background-color: #2b8cc4;
  box-shadow: 0 2px 0 #005ea5;
}

.button.button-secondary:hover {
  background-color: #005ea5;
  box-shadow: 0 2px 0 #005ea5;
}

.button.button-secondary:focus {
  background-color: #005ea5;
  box-shadow: 0 2px 0 #005ea5;
}

.form-control-inline {
  display: inline-block;
}

@media (min-width: 641px) {
  .form-control-long {
    width: 85%;
  }
}

@media (min-width: 641px) {
  .form-control-short {
    width: 30%;
  }
}

.capital-progress {
  border-bottom: 1px solid #bfc1c3;
  color: #6f777b;
  list-style: none;
  margin-bottom: 2em;
  padding: .5em 0;
}

.capital-progress li {
  background-color: #dee0e2;
  display: inline;
  margin-left: 0;
  margin-right: 0;
  padding: .4em 2em;
}

.capital-progress li.active {
  background: none;
  border: 1px solid #bfc1c3;
  border-bottom: 5px solid #fff;
  color: #0b0c0c;
  font-weight: bold;
  padding-bottom: .5em;
}

.capital-progress li a {
  color: #005ea5;
  cursor: pointer;
  text-decoration: underline;
}

.capital-progress li a:hover {
  color: #2b8cc4;
}
