

{% extends "layout.html" %}

{% block page_title %}
  Web Incorporation Service prototype
{% endblock %}

{% block content %}
<style type="text/css"> /* styles NOT needed in the real style sheet, so dumping them here */
  table span {
    background-color: grey;
    display:inline-block;
    color:white;
    padding:.2em 2em .1em;
    width:1.5em;
  }
  table span.yes {
    background-color: #00823B;
  }
  table .page-title {
    width:75%;
  }
</style>

<main id="content" role="main">
  {% include "includes/phase_banner_alpha.html" %}


      <h1 class="heading-xlarge">Web Incorporation Service prototype</h1>

      <h2 class="heading-medium">Current live service</h2>
			<ul class="list list-bullet">
				<li><a href="http://resources.companieshouse.gov.uk/promo/webincs/">Web Incorporation Service</a></li>
			</ul>

      <h2 class="heading-medium">Proposed versions</h2>

      <table>
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col">New content<br> from Jim (HMRC)</th>
        </tr>
        <tr>
          <th scope="col" class="heading-medium" colspan="2">Start</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Welcome/Login</td>
          <td><span>No</span></td>
        </tr>
        <tr>
          <td>Forgot your password</td>
          <td><span>No</span></td>
        </tr>
        <thead>
          <tr>
            <th scope="col"  class="heading-medium" colspan="2">Company name and address</th>
          </tr>
        </thead>
        <tr>
          <td><a href="/ch-webincs/company-name">Company name</a></td>
          <td><span>No</span></td>
        </tr>
        <tr>
          <td><a href="/ch-webincs/company-roa">Registered office address</a></td>
          <td><span>No</span></td>
        </tr>
        <tr>
          <td><a href="/ch-webincs/company-location-of-roa">Location of registered office</a></td>
          <td><span>No</span></td>
        </tr>
        <thead>
          <tr>
            <th scope="col"  class="heading-medium" colspan="2">Business activity (SIC)</th>
          </tr>
        </thead>
        <tr>
          <td><a href="/ch-webincs/sic-select">Business activity (SIC) first select</a></td>
          <td><span class="yes">Yes</span></td>
        </tr>
        <tr>
          <td><a href="/ch-webincs/sic-select-2">Business activity (SIC) second select</a></td>
          <td><span class="yes">Yes</span></td>
        </tr>
        <tr>
          <td><a href="/ch-webincs/sic-one-added">Business activity (SIC) one added</a></td>
          <td><span class="yes">Yes</span></td>
        </tr>
        <thead>
          <tr>
            <th scope="col"  class="heading-medium" colspan="2">Officers</th>
          </tr>
        </thead>
        <tr>
          <td><a href="/ch-webincs/add-person-as-an-officer">Add a person as director (name, DOB etc)</a></td>
          <td><span>No</span></td>
        </tr>
        <tr>
          <td><a href="/ch-webincs/add-person-as-an-officer-dca">Add a person as director(correspondence address)</a></td>
          <td><span>No</span></td>
        </tr>
        <tr>
          <td><a href="/ch-webincs/add-person-as-an-officer-dra">Add a person as director (residential address / exemption)</a></td>
          <td><span>No</span></td>
        </tr>
        <tr>
          <td><a href="/ch-webincs/proposed-company-officers">Proposed Company Officers</a></td>
          <td><span>No</span></td>
        </tr>

        <tr>
          <td>Add person as an secretary</td>
          <td><span>No</span></td>
        </tr>
        <tr>
          <td>Add company or firm as an director</td>
          <td><span>No</span></td>
        </tr>
        <tr>
          <td>Add company or firm as an director</td>
          <td><span>No</span></td>
        </tr>
        <thead>
          <tr>
            <th scope="col"  class="heading-medium" colspan="2">Shares</th>
          </tr>
        </thead>
        <tr>
          <td><a href="/ch-webincs/add-share-capital">Create shares</a></td>
          <td><span class="yes">Yes</span></td>
        </tr>
        <tr>
          <td><a href="/ch-webincs/statement-of-capital">Statement of capital</a></td>
          <td><span>No</span></td>
        </tr>
        <tr>
          <td><a href="/ch-webincs/amount-unpaid">Amount unpaid</a></td>
          <td><span>No</span></td>
        </tr>
        <tr>
          <td><a href="/ch-webincs/subscriber-details">Subscriber details</a></td>
          <td><span>No</span></td>
        </tr>
        <tr>
          <td><a href="/ch-webincs/initial-shareholdings">Initial shareholdings</a></td>
          <td><span>No</span></td>
        </tr>
        <thead>
          <tr>
            <th scope="col"  class="heading-medium" colspan="2">PSCs</th>
          </tr>
        </thead>
        <tr>
          <td><a href="/ch-webincs/psc-1">PSCs - Initial statement of significant control ("PSC 1")</a></td>
          <td><span class="yes">Yes</span></td>
        </tr>
        <tr>
          <td><a href="/ch-webincs/psc-2">PSCs - Provide details of the persons with significant control ("PSC 2")</a></td>
          <td><span>No</span></td>
        </tr>
        <tr>
          <td><a href="/ch-webincs/add-person-as-psc">PSCs - Add a person as a PSC</a></td>
          <td><span>No</span></td>
        </tr>
        <tr>
          <td><a href="/ch-webincs/add-person-as-psc-dca">PSCs - Add a person as a PSC (correspondence address)</a></td>
          <td><span>No</span></td>
        </tr>
        <tr>
          <td><a href="/ch-webincs/add-person-as-psc-dra">PSCs - Add a person as a PSC (residential address, exemption)</a></td>
          <td><span>No</span></td>
        </tr>
        <tr>
          <td><a href="/ch-webincs/add-person-as-psc-nature-of-control">PSCs - Add a person as a PSC (Nature of control)</a></td>
          <td><span>No</span></td>
        </tr>
        <tr>
          <td>PSCs - Add a relevant legal entity as a PSC</td>
          <td><span>No</span></td>
        </tr>
        <tr>
          <td>PSCs - Add a legal person as a PSC</td>
          <td><span>No</span></td>
        </tr>
        <tr>
          <td><a href="/ch-webincs/psc-summary">PSCs - Summary</a></td>
          <td><span>No</span></td>
        </tr>
        <thead>
          <tr>
            <th scope="col"  class="heading-medium" colspan="2">Registers</th>
          </tr>
        </thead>
        <tr>
          <td><a href="/ch-webincs/registers">Registers</a></td>
          <td><span class="yes">Yes</span></td>
        </tr>
        <tr>
          <td><a href="/ch-webincs/registers-change">Change location of register</a></td>
          <td><span class="yes">Yes</span></td>
        </tr>
        <thead>
          <tr>
            <th scope="col"  class="heading-medium" colspan="2">Statement of compliance</th>
          </tr>
        </thead>
        <tr>
          <td><a href="/ch-webincs/statement-of-compliance">Statement of compliance select</a></td>
          <td><span>No</span></td>
        </tr>
        <tr>
          <td><a href="/ch-webincs/statement-of-compliance-agent">Statement of compliance (agent selected)</a></td>
          <td><span>No</span></td>
        </tr>
        <tr>
          <td><a href="/ch-webincs/statement-of-compliance-2">Statement of compliance summary</a></td>
          <td><span>No</span></td>
        </tr>
        <thead>
          <tr>
            <th scope="col"  class="heading-medium" colspan="2">Finish</th>
          </tr>
        </thead>        <tr>
          <td><!--<a href="/ch-webincs/summary">-->Summary<!--</a>--></td>
          <td><span>No</span></td>
        </tr>
        <tr>
          <td><a href="/ch-webincs/payment">Payment</a></td>
          <td><span>No</span></td>
        </tr>
        <tr>
          <td><!--<a href="/ch-webincs/confirmation">-->Confirmation<!--</a>--></td>
          <td><span>No</span></td>
        </tr>
    </tbody>
  </table>


</main>

{% endblock %}
